<style>
    .demo-container {
        background-color: #fff;
        padding: 15px;
    }
    .demo-title {
        color: #009bad;
        background-color: #eee;
        padding: 8px 15px;
        margin: 20px -15px 10px;
    }
    pre{
    	border:0;
    	background-color:inherit;
    }
    .st-selected{
    	background-color:#11a9f5 !important;
    }
</style>
<div ng-controller="smartTableExCtrl" class="fsm fsm-cp open">
    <div class="fsm-wrapper">

        <!-- //頁面內容 -->
        
        <div class="fsm-contents fsm-layout-col-2 fsm-layout-col-2-l">
            <div class="container-fluid">
                <div class="fsm-layout-contents">
                    <div class="demo-container">
                        <a id='top'></a>
                        <h2>表格範例</h2>
                        <h3 class="demo-title" id="projectStructure">The Basic Example</h3>
							<table class="table" st-pipe="callServer" st-table="displayed">
								<thead>
								<tr>
									<td></td>
									<td><input ng-model="id"/></td>
									<td><input ng-model="name"/></td>
									<td><input ng-model="age"/></td>
									<td><input ng-model="birthday"/></td>
									<td>
										<button type="button" class="btn btn-primary" ng-click="reload()">reload</button>
										<button type="button" class="btn btn-success" ng-click="showSelected()">update</button>
										<button type="button" class="btn btn-danger" ng-click="showSelected()">delete</button>
									</td>
								</tr>
								<tr>
									<th>Select</th>
									<th st-sort="id">id</th>
									<th st-sort="name">name</th>
									<th st-sort="age">age</th>
									<th st-sort="birthday">birth</th>
									<th st-sort="saved">saved people</th>
								</tr>
								<tr>
									<th></th>
									<th><input st-search="id" style="color:black"/></th>
									<th><input st-search="name" style="color:black"/></th>
									<th><input st-search="age" style="color:black"/></th>
									<th><input st-search="birthday" style="color:black"/></th>
									<th><input st-search="saved" style="color:black"/></th>
								</tr>
								</thead>
								<tbody ng-show="!isLoading">
								<tr ng-repeat="row in displayed">
									<!-- cs-select-mode有single & mutiple -->
									<td cs-select="row" cs-select-mode="mutiple" cs-select-data="selectDatas"></td>
									<td>{{row.id}}</td>
									<td>{{row.name}}</td>
									<td>{{row.age}}</td>
									<td>{{row.birthday | date}}</td>
									<td>{{row.saved}}</td>
								</tr>
								</tbody>
								<tbody ng-show="isLoading">
								<tr>
									<td colspan="6" class="text-center">Loading ... </td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td class="text-center" st-pagination="" st-items-by-page="10" colspan="6">
									</td>
								</tr>
								</tfoot>
							</table>
                        	<pre>
                        		<code class="lang-html">
&lt;table class=&quot;table&quot; st-pipe=&quot;callServer&quot; st-table=&quot;displayed&quot;&gt;
	&lt;thead&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;/td&gt;
		&lt;td&gt;&lt;input ng-model=&quot;id&quot;/&gt;&lt;/td&gt;
		&lt;td&gt;&lt;input ng-model=&quot;name&quot;/&gt;&lt;/td&gt;
		&lt;td&gt;&lt;input ng-model=&quot;age&quot;/&gt;&lt;/td&gt;
		&lt;td&gt;&lt;input ng-model=&quot;birthday&quot;/&gt;&lt;/td&gt;
		&lt;td&gt;
			&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;reload()&quot;&gt;reload&lt;/button&gt;
			&lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot; ng-click=&quot;showSelected()&quot;&gt;update&lt;/button&gt;
			&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; ng-click=&quot;showSelected()&quot;&gt;delete&lt;/button&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Select&lt;/th&gt;
		&lt;th st-sort=&quot;id&quot;&gt;id&lt;/th&gt;
		&lt;th st-sort=&quot;name&quot;&gt;name&lt;/th&gt;
		&lt;th st-sort=&quot;age&quot;&gt;age&lt;/th&gt;
		&lt;th st-sort=&quot;birthday&quot;&gt;birth&lt;/th&gt;
		&lt;th st-sort=&quot;saved&quot;&gt;saved people&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;&lt;/th&gt;
		&lt;th&gt;&lt;input st-search=&quot;id&quot; style=&quot;color:black&quot;/&gt;&lt;/th&gt;
		&lt;th&gt;&lt;input st-search=&quot;name&quot; style=&quot;color:black&quot;/&gt;&lt;/th&gt;
		&lt;th&gt;&lt;input st-search=&quot;age&quot; style=&quot;color:black&quot;/&gt;&lt;/th&gt;
		&lt;th&gt;&lt;input st-search=&quot;birthday&quot; style=&quot;color:black&quot;/&gt;&lt;/th&gt;
		&lt;th&gt;&lt;input st-search=&quot;saved&quot; style=&quot;color:black&quot;/&gt;&lt;/th&gt;
	&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody ng-show=&quot;!isLoading&quot;&gt;
	&lt;tr ng-repeat=&quot;row in displayed&quot;&gt;
	    &lt;!-- cs-select-mode&#26377;single &amp; mutiple --&gt;
		&lt;td cs-select=&quot;row&quot; cs-select-mode=&quot;mutiple&quot; cs-select-data=&quot;selectDatas&quot;&gt;&lt;/td&gt;
		&lt;td&gt;{ { row.id } }&lt;/td&gt;
		&lt;td&gt;{ { row.name } }&lt;/td&gt;
		&lt;td&gt;{ { row.age } }&lt;/td&gt;
		&lt;td&gt;{ { row.birthday | date } }&lt;/td&gt;
		&lt;td&gt;{ { row.saved } }&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
	&lt;tbody ng-show=&quot;isLoading&quot;&gt;
	&lt;tr&gt;
		&lt;td colspan=&quot;6&quot; class=&quot;text-center&quot;&gt;Loading ... &lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
	&lt;tfoot&gt;
	&lt;tr&gt;
		&lt;td class=&quot;text-center&quot; st-pagination=&quot;&quot; st-items-by-page=&quot;10&quot; colspan=&quot;6&quot;&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tfoot&gt;
&lt;/table&gt;
                        		</code>
                        		<code class="javascript">
/**
   * 注入stConfig 
   * 修改st-table的global參數
   */
  otherArgs.moduleConfigArgs = ['stConfig','$controllerProvider', function(stConfig,$controllerProvider) {
    console.log('module1 - config begin');
    /**
     * change pagination template to our template
     */
    stConfig.pagination.template = 'app/directives/templates/my-custom-pagination-tmpl.html';
    
  }];
  
  /**
   * 注入smart-table module
   */
  window.glfunc.buildNgController("smartTableEx", ['smart-table'], ['$scope','Resource','$filter',function(scope, resource, $filter) {
	     
	   /**
	   * 放入表格的datas
	   */
      scope.displayed = [];
      
      /**
       * 選取data的陣列
       */
      scope.selectDatas = [];
      
      /**
       * 編寫向Sever讀取資料的邏輯
       * st-table 會將此方法rewrite至 ctrl.pipe()方法
       * param: 
       * 	tableState  st-table傳入查詢條件 包括
				={sort: {},
				  search: {},
				  pagination: { start: 0, totalItemCount: 0 }
				  };
			ctrl st-table的Controller 可呼叫內部的function  
       */
      scope.callServer = function callServer(tableState,ctrl) {

    	    scope.isLoading = true;
    	    /**
    	     * 指向st-table的reload方法
    	     */
    	    scope.reloadFunc = ctrl.pipe;
    	    
    	    /**
  	       	 * 放入自己的變數
  	       	 */
    	    if(scope.search){
    	    	tableState.search.predicateObject = scope.search;
    	    	scope.search = null;
    	    }
    	    
    	    var pagination = tableState.pagination;
    	    var start = pagination.start || 0;     
    	    var number = pagination.number || 10;  
    	    
    	    /**
  	       	 * 向後台拿取假資料的範例服務
  	       	 */
    	    resource.getPage(start, number, tableState).then(function (result) {
    	      scope.displayed = result.data;
    	      /**
    	       * 總資料比數放入tableState內，此參數為必要，否則st-table不知道總資料筆數為多少
    	       */
    	      tableState.pagination.numberOfPages = result.numberOfPages;
    	      scope.isLoading = false;
    	    });
    	    
    	  };
      
	  /**
       * 表格reload 
       */
      scope.reload = function (){
    	  scope.search = {
	  		 'id': scope.id,
	  		  'name':scope.name,
	  		  'age':scope.age,
	  		  'birthday':scope.birthday
	  	  };
    	  
    	  scope.reloadFunc();
    	  
      }
	  /**
       * 顯示選取資料
       */      
      scope.showSelected = function(){
    	  console.log(scope.selectDatas);
      }
                        		</code>
                        	</pre>
                        	<a href="http://lorenzofox3.github.io/smart-table-website/">教學網站</a>
                        	<a ng-click="scrollTo('top')">Top</a>
                        	
                </div>
            </div>
        </div>
        <!-- //Footer -->
        <footer class="fsm-footer">
        </footer>
    </div>
</div>
