<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>FSM</contextName>
	<property name="log.dir" value="${catalina.home}/logs" />  
	<appender name="Console_Out" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="File_Out"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/${CONTEXT_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.dir}/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	
	<root level="DEBUG">
		<appender-ref ref="Console_Out" />
		<appender-ref ref="File_Out" />
	</root>
	
	
</configuration>