<style>
    .demo-container {
        background-color: #fff;
        padding: 15px;
    }
    .demo-title {
        color: #009bad;
        background-color: #eee;
        padding: 8px 15px;
        margin: 20px -15px 10px;
    }
    pre{
    	border:0;
    	background-color:inherit;
    }
    

</style>
<div ng-controller="basicObjCtrl" class="fsm fsm-cp open">
    <div class="fsm-wrapper">

        <!-- //頁面內容 -->
        <div class="fsm-contents fsm-layout-col-2 fsm-layout-col-2-l">
            <div class="container-fluid">
                <div class="fsm-layout-contents">
                    <div class="demo-container">
                        <a id ="top"></a>
                        <h2>基本元素</h2>
                        <h3 class="demo-title"></h3>
                        <table style="width:100%">
							<tbody>
								<tr>
									<th scope="row" style="width:15%"><a ng-click="scrollTo('tables')">Tables</a></th>
									<td style="width:20%"><a ng-click="scrollTo('stripedTable')">Striped table</a></td>
									<td style="width:15%"><a ng-click="scrollTo('borderedTable')">Bordered table</a></td>
									<td style="width:55%"></td>
								</tr>
								<tr>
									<th scope="row"><a ng-click="scrollTo('buttons')">Buttons</a></th>
									<td><a ng-click="scrollTo('buttonsSizes')">Buttons Sizes</a></td>
									<td><a ng-click="scrollTo('lineButtons')">Line Buttons</a></td>
									<td><a ng-click="scrollTo('lineButtonsSizes')">Line Buttons Sizes</a><br/></td>
								</tr>
								<tr>
									<th scope="row"><a ng-click="scrollTo('forms')">Forms</a></th>
									<td><a ng-click="scrollTo('inlineForm')">Inline form</a></td>
									<td><a ng-click="scrollTo('horizontalForm')">Horizontal form</a></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row"><a ng-click="scrollTo('checkboxesAndRadios')">Checkboxes and Radios</a></th>
									<td><a ng-click="scrollTo('inlineCheckboxesAndRadios')">Inline Checkboxes and Radios</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row"><a ng-click="scrollTo('staticControl')">Static control</a></th>
									<td><a ng-click="scrollTo('validationStates')">Validation states</a></td>
									<td><a ng-click="scrollTo('withOptionalIcons')">With optional icons</a></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row"><a ng-click="scrollTo('heading')">Heading</a></th>
									<td><a ng-click="scrollTo('headingSecondaryText')">Heading + Secondary text</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row"><a ng-click="scrollTo('lists')">Lists</a></th>
									<td><a ng-click="scrollTo('unordered')">Unordered</a></td>
									<td><a ng-click="scrollTo('ordered')">Ordered</a></td>
									<td><a ng-click="scrollTo('unstyled')">Unstyled</a></td>
								</tr>
							</tbody>
						</table>
                        <!-- Tables -->
                        <h2 class="demo-title" id="tables">Tables</h2>
                        <table class="table">
                            <caption>Optional table caption.</caption>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                        	<pre>
                        		<code class="lang-html">
&lt;table class=&quot;table&quot;&gt;
	&lt;caption&gt;Optional table caption.&lt;/caption&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;#&lt;/th&gt;
			&lt;th&gt;First Name&lt;/th&gt;
			&lt;th&gt;Last Name&lt;/th&gt;
			&lt;th&gt;Username&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
			&lt;td&gt;Mark&lt;/td&gt;
			&lt;td&gt;Otto&lt;/td&gt;
			&lt;td&gt;@mdo&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
			&lt;td&gt;Jacob&lt;/td&gt;
			&lt;td&gt;Thornton&lt;/td&gt;
			&lt;td&gt;@fat&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
			&lt;td&gt;Larry&lt;/td&gt;
			&lt;td&gt;the Bird&lt;/td&gt;
			&lt;td&gt;@twitter&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
                        		</code>
                        	</pre>
                        	<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="stripedTable">Striped table</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                        <pre>
                        	<code class="html">
&lt;table class=&quot;table table-striped&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;#&lt;/th&gt;
			&lt;th&gt;First Name&lt;/th&gt;
			&lt;th&gt;Last Name&lt;/th&gt;
			&lt;th&gt;Username&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
			&lt;td&gt;Mark&lt;/td&gt;
			&lt;td&gt;Otto&lt;/td&gt;
			&lt;td&gt;@mdo&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
			&lt;td&gt;Jacob&lt;/td&gt;
			&lt;td&gt;Thornton&lt;/td&gt;
			&lt;td&gt;@fat&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
			&lt;td&gt;Larry&lt;/td&gt;
			&lt;td&gt;the Bird&lt;/td&gt;
			&lt;td&gt;@twitter&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;                        	
                        	</code>
                        </pre>
                        <a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="borderedTable">Bordered table</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
						<pre>
							<code class="html">
&lt;table class=&quot;table table-bordered&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;#&lt;/th&gt;
			&lt;th&gt;First Name&lt;/th&gt;
			&lt;th&gt;Last Name&lt;/th&gt;
			&lt;th&gt;Username&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
			&lt;td&gt;Mark&lt;/td&gt;
			&lt;td&gt;Otto&lt;/td&gt;
			&lt;td&gt;@mdo&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
			&lt;td&gt;Jacob&lt;/td&gt;
			&lt;td&gt;Thornton&lt;/td&gt;
			&lt;td&gt;@fat&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
			&lt;td&gt;Larry&lt;/td&gt;
			&lt;td&gt;the Bird&lt;/td&gt;
			&lt;td&gt;@twitter&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <!-- Buttons -->
                        <h2 class="demo-title" id="buttons">Buttons</h2>
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-link">Link</button>
						<p></p>
						<pre>
							<code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="buttonsSizes">Buttons Sizes</h3>
                        <p>
                          <button type="button" class="btn btn-default btn-lg">Large button</button>
                          <button type="button" class="btn btn-default">Default button</button>
                          <button type="button" class="btn btn-default btn-sm">Small button</button>
                          <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-primary btn-lg">Large button</button>
                          <button type="button" class="btn btn-primary">Default button</button>
                          <button type="button" class="btn btn-primary btn-sm">Small button</button>
                          <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-success btn-lg">Large button</button>
                          <button type="button" class="btn btn-success">Default button</button>
                          <button type="button" class="btn btn-success btn-sm">Small button</button>
                          <button type="button" class="btn btn-success btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-info btn-lg">Large button</button>
                          <button type="button" class="btn btn-info">Default button</button>
                          <button type="button" class="btn btn-info btn-sm">Small button</button>
                          <button type="button" class="btn btn-info btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-warning btn-lg">Large button</button>
                          <button type="button" class="btn btn-warning">Default button</button>
                          <button type="button" class="btn btn-warning btn-sm">Small button</button>
                          <button type="button" class="btn btn-warning btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-danger btn-lg">Large button</button>
                          <button type="button" class="btn btn-danger">Default button</button>
                          <button type="button" class="btn btn-danger btn-sm">Small button</button>
                          <button type="button" class="btn btn-danger btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn btn-link btn-lg">Large button</button>
                          <button type="button" class="btn btn-link">Default button</button>
                          <button type="button" class="btn btn-link btn-sm">Small button</button>
                          <button type="button" class="btn btn-link btn-xs">Extra small button</button>
                        </p>
						<pre>
							<code class="html">
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-success btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-success btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-success btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-info btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-info btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-info btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-warning btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-warning btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-warning btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-danger btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-danger btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-danger btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-link btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-link btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-link btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;						
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <!-- Line Buttons -->
                        <h2 class="demo-title" id="lineButtons">Line Buttons</h2>
                        <button type="button" class="btn-line btn-default">Default</button>
                        <button type="button" class="btn-line btn-primary">Primary</button>
                        <button type="button" class="btn-line btn-success">Success</button>
                        <button type="button" class="btn-line btn-info">Info</button>
                        <button type="button" class="btn-line btn-warning">Warning</button>
                        <button type="button" class="btn-line btn-danger">Danger</button>
						<p></p>
						<pre>
							<code class="html">
							
&lt;button type=&quot;button&quot; class=&quot;btn-line btn-default&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn-line btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn-line btn-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn-line btn-info&quot;&gt;Info&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn-line btn-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn-line btn-danger&quot;&gt;Danger&lt;/button&gt;
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="lineButtonsSizes">Line Buttons Sizes</h3>
                        <p>
                          <button type="button" class="btn-line btn-default btn-lg">Large button</button>
                          <button type="button" class="btn-line btn-default">Default button</button>
                          <button type="button" class="btn-line btn-default btn-sm">Small button</button>
                          <button type="button" class="btn-line btn-default btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn-line btn-primary btn-lg">Large button</button>
                          <button type="button" class="btn-line btn-primary">Default button</button>
                          <button type="button" class="btn-line btn-primary btn-sm">Small button</button>
                          <button type="button" class="btn-line btn-primary btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn-line btn-success btn-lg">Large button</button>
                          <button type="button" class="btn-line btn-success">Default button</button>
                          <button type="button" class="btn-line btn-success btn-sm">Small button</button>
                          <button type="button" class="btn-line btn-success btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn-line btn-info btn-lg">Large button</button>
                          <button type="button" class="btn-line btn-info">Default button</button>
                          <button type="button" class="btn-line btn-info btn-sm">Small button</button>
                          <button type="button" class="btn-line btn-info btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn-line btn-warning btn-lg">Large button</button>
                          <button type="button" class="btn-line btn-warning">Default button</button>
                          <button type="button" class="btn-line btn-warning btn-sm">Small button</button>
                          <button type="button" class="btn-line btn-warning btn-xs">Extra small button</button>
                        </p>
                        <p>
                          <button type="button" class="btn-line btn-danger btn-lg">Large button</button>
                          <button type="button" class="btn-line btn-danger">Default button</button>
                          <button type="button" class="btn-line btn-danger btn-sm">Small button</button>
                          <button type="button" class="btn-line btn-danger btn-xs">Extra small button</button>
                        </p>
						<pre>
							<code class="html">
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-default btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-default&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-default btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-default btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-primary btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-primary&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-primary btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-primary btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-success btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-success&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-success btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-success btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-info btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-info&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-info btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-info btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-warning btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-warning&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-warning btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-warning btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-danger btn-lg&quot;&gt;Large button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-danger&quot;&gt;Default button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-danger btn-sm&quot;&gt;Small button&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-line btn-danger btn-xs&quot;&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <!-- Forms -->
                        <h2 class="demo-title" id="forms">Forms</h2>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Check me out
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <p></p>
						<pre> 
							<code class="html">
&lt;form&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;exampleInputEmail1&quot;&gt;Email address&lt;/label&gt;
		&lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;exampleInputEmail1&quot; placeholder=&quot;Email&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;exampleInputPassword1&quot;&gt;Password&lt;/label&gt;
		&lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;exampleInputPassword1&quot; placeholder=&quot;Password&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;exampleInputFile&quot;&gt;File input&lt;/label&gt;
		&lt;input type=&quot;file&quot; id=&quot;exampleInputFile&quot;&gt;
		&lt;p class=&quot;help-block&quot;&gt;Example block-level help text here.&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;checkbox&quot;&gt;
		&lt;label&gt;
			&lt;input type=&quot;checkbox&quot;&gt; Check me out
		&lt;/label&gt;
	&lt;/div&gt;
	&lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="inlineForm">Inline form</h3>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                            </div>
                            <button type="submit" class="btn btn-default">Send invitation</button>
                        </form>
                        <p></p>
						<pre>
							<code class="html">
&lt;form class=&quot;form-inline&quot;&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;exampleInputName2&quot;&gt;Name&lt;/label&gt;
		&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;exampleInputName2&quot; placeholder=&quot;Jane Doe&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;exampleInputEmail2&quot;&gt;Email&lt;/label&gt;
		&lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;exampleInputEmail2&quot; placeholder=&quot;jane.doe@example.com&quot;&gt;
	&lt;/div&gt;
	&lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Send invitation&lt;/button&gt;
&lt;/form&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="horizontalForm">Horizontal form</h3>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        </form>
						<pre>
							<code class="html">
&lt;form class=&quot;form-horizontal&quot;&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;inputEmail3&quot; class=&quot;col-sm-2 control-label&quot;&gt;Email&lt;/label&gt;
		&lt;div class=&quot;col-sm-10&quot;&gt;
			&lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;inputEmail3&quot; placeholder=&quot;Email&quot;&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;inputPassword3&quot; class=&quot;col-sm-2 control-label&quot;&gt;Password&lt;/label&gt;
		&lt;div class=&quot;col-sm-10&quot;&gt;
			&lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword3&quot; placeholder=&quot;Password&quot;&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
			&lt;div class=&quot;checkbox&quot;&gt;
				&lt;label&gt;
					&lt;input type=&quot;checkbox&quot;&gt; Remember me
				&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
			&lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Sign in&lt;/button&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="checkboxesAndRadios">Checkboxes and Radios</h3>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value=""> Option one is this and that&mdash;be sure to include why it's great
                            </label>
                        </div>
                        <div class="checkbox disabled">
                            <label>
                                <input type="checkbox" value="" disabled> Option two is disabled
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Option three is disabled
                            </label>
                        </div>
						<pre>
							<code class="html">
&lt;div class=&quot;checkbox&quot;&gt;
	&lt;label&gt;
		&lt;input type=&quot;checkbox&quot; value=&quot;&quot;&gt; Option one is this and that&amp;mdash;be sure to include why it's great
	&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox disabled&quot;&gt;
	&lt;label&gt;
		&lt;input type=&quot;checkbox&quot; value=&quot;&quot; disabled&gt; Option two is disabled
	&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;radio&quot;&gt;
	&lt;label&gt;
		&lt;input type=&quot;radio&quot; name=&quot;optionsRadios&quot; id=&quot;optionsRadios1&quot; value=&quot;option1&quot; checked&gt; Option one is this and that&amp;mdash;be sure to include why it's great
	&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;radio&quot;&gt;
	&lt;label&gt;
		&lt;input type=&quot;radio&quot; name=&quot;optionsRadios&quot; id=&quot;optionsRadios2&quot; value=&quot;option2&quot;&gt; Option two can be something else and selecting it will deselect option one
	&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;radio disabled&quot;&gt;
	&lt;label&gt;
		&lt;input type=&quot;radio&quot; name=&quot;optionsRadios&quot; id=&quot;optionsRadios3&quot; value=&quot;option3&quot; disabled&gt; Option three is disabled
	&lt;/label&gt;
&lt;/div&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="inlineCheckboxesAndRadios">Inline Checkboxes and Radios</h3>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                        </label>
                        <p></p>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                        </label>
                        <p></p>
						<pre>
							<code class="html">
&lt;label class=&quot;checkbox-inline&quot;&gt;
	&lt;input type=&quot;checkbox&quot; id=&quot;inlineCheckbox1&quot; value=&quot;option1&quot;&gt; 1
&lt;/label&gt;
&lt;label class=&quot;checkbox-inline&quot;&gt;
	&lt;input type=&quot;checkbox&quot; id=&quot;inlineCheckbox2&quot; value=&quot;option2&quot;&gt; 2
&lt;/label&gt;
&lt;label class=&quot;checkbox-inline&quot;&gt;
	&lt;input type=&quot;checkbox&quot; id=&quot;inlineCheckbox3&quot; value=&quot;option3&quot;&gt; 3
&lt;/label&gt;
&lt;label class=&quot;radio-inline&quot;&gt;
	&lt;input type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; id=&quot;inlineRadio1&quot; value=&quot;option1&quot;&gt; 1
&lt;/label&gt;
&lt;label class=&quot;radio-inline&quot;&gt;
	&lt;input type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; id=&quot;inlineRadio2&quot; value=&quot;option2&quot;&gt; 2
&lt;/label&gt;
&lt;label class=&quot;radio-inline&quot;&gt;
	&lt;input type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; id=&quot;inlineRadio3&quot; value=&quot;option3&quot;&gt; 3
&lt;/label&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="staticControl">Static control</h3>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">email@example.com</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                        </form>
                        <hr>
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <p class="form-control-static">email@example.com</p>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-default">Confirm identity</button>
                        </form>
                        <p></p>
						<pre>
							<code class="html">
&lt;form class=&quot;form-horizontal&quot;&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label class=&quot;col-sm-2 control-label&quot;&gt;Email&lt;/label&gt;
		&lt;div class=&quot;col-sm-10&quot;&gt;
			&lt;p class=&quot;form-control-static&quot;&gt;email@example.com&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;inputPassword&quot; class=&quot;col-sm-2 control-label&quot;&gt;Password&lt;/label&gt;
		&lt;div class=&quot;col-sm-10&quot;&gt;
			&lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword&quot; placeholder=&quot;Password&quot;&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;
&lt;hr&gt;
&lt;form class=&quot;form-inline&quot;&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label class=&quot;sr-only&quot;&gt;Email&lt;/label&gt;
		&lt;p class=&quot;form-control-static&quot;&gt;email@example.com&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;inputPassword2&quot; class=&quot;sr-only&quot;&gt;Password&lt;/label&gt;
		&lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword2&quot; placeholder=&quot;Password&quot;&gt;
	&lt;/div&gt;
	&lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Confirm identity&lt;/button&gt;
&lt;/form&gt;								
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id='validationStates'>Validation states</h3>
                        <div class="form-group has-success">
                            <label class="control-label" for="inputSuccess1">Input with success</label>
                            <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2">
                            <span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                        <div class="form-group has-warning">
                            <label class="control-label" for="inputWarning1">Input with warning</label>
                            <input type="text" class="form-control" id="inputWarning1">
                        </div>
                        <div class="form-group has-error">
                            <label class="control-label" for="inputError1">Input with error</label>
                            <input type="text" class="form-control" id="inputError1">
                        </div>
                        <div class="has-success">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checkboxSuccess" value="option1"> Checkbox with success
                                </label>
                            </div>
                        </div>
                        <div class="has-warning">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checkboxWarning" value="option1"> Checkbox with warning
                                </label>
                            </div>
                        </div>
                        <div class="has-error">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checkboxError" value="option1"> Checkbox with error
                                </label>
                            </div>
                        </div>
						<pre>
							<code class='html'>
&lt;div class=&quot;form-group has-success&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputSuccess1&quot;&gt;Input with success&lt;/label&gt;
	&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess1&quot; aria-describedby=&quot;helpBlock2&quot;&gt;
	&lt;span id=&quot;helpBlock2&quot; class=&quot;help-block&quot;&gt;A block of help text that breaks onto a new line and may extend beyond one line.&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-warning&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputWarning1&quot;&gt;Input with warning&lt;/label&gt;
	&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputWarning1&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-error&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputError1&quot;&gt;Input with error&lt;/label&gt;
	&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputError1&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;has-success&quot;&gt;
	&lt;div class=&quot;checkbox&quot;&gt;
		&lt;label&gt;
			&lt;input type=&quot;checkbox&quot; id=&quot;checkboxSuccess&quot; value=&quot;option1&quot;&gt; Checkbox with success
		&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;has-warning&quot;&gt;
	&lt;div class=&quot;checkbox&quot;&gt;
		&lt;label&gt;
			&lt;input type=&quot;checkbox&quot; id=&quot;checkboxWarning&quot; value=&quot;option1&quot;&gt; Checkbox with warning
		&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;has-error&quot;&gt;
	&lt;div class=&quot;checkbox&quot;&gt;
		&lt;label&gt;
			&lt;input type=&quot;checkbox&quot; id=&quot;checkboxError&quot; value=&quot;option1&quot;&gt; Checkbox with error
		&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="withOptionalIcons">With optional icons</h3>
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputSuccess2">Input with success</label>
                            <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group has-warning has-feedback">
                            <label class="control-label" for="inputWarning2">Input with warning</label>
                            <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputWarning2Status" class="sr-only">(warning)</span>
                        </div>
                        <div class="form-group has-error has-feedback">
                            <label class="control-label" for="inputError2">Input with error</label>
                            <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>
						<pre>
							<code class="html">
&lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputSuccess2&quot;&gt;Input with success&lt;/label&gt;
	&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputSuccess2&quot; aria-describedby=&quot;inputSuccess2Status&quot;&gt;
	&lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
	&lt;span id=&quot;inputSuccess2Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-warning has-feedback&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputWarning2&quot;&gt;Input with warning&lt;/label&gt;
	&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputWarning2&quot; aria-describedby=&quot;inputWarning2Status&quot;&gt;
	&lt;span class=&quot;glyphicon glyphicon-warning-sign form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
	&lt;span id=&quot;inputWarning2Status&quot; class=&quot;sr-only&quot;&gt;(warning)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-error has-feedback&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputError2&quot;&gt;Input with error&lt;/label&gt;
	&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputError2&quot; aria-describedby=&quot;inputError2Status&quot;&gt;
	&lt;span class=&quot;glyphicon glyphicon-remove form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
	&lt;span id=&quot;inputError2Status&quot; class=&quot;sr-only&quot;&gt;(error)&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group has-success has-feedback&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;inputGroupSuccess1&quot;&gt;Input group with success&lt;/label&gt;
	&lt;div class=&quot;input-group&quot;&gt;
		&lt;span class=&quot;input-group-addon&quot;&gt;@&lt;/span&gt;
		&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputGroupSuccess1&quot; aria-describedby=&quot;inputGroupSuccess1Status&quot;&gt;
	&lt;/div&gt;
	&lt;span class=&quot;glyphicon glyphicon-ok form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
	&lt;span id=&quot;inputGroupSuccess1Status&quot; class=&quot;sr-only&quot;&gt;(success)&lt;/span&gt;
&lt;/div&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <!-- Heading -->
                        <h2 class="demo-title" id="heading">Heading</h2>
                        <h1>h1. Bootstrap heading</h1>
                        <h2>h2. Bootstrap heading</h2>
                        <h3>h3. Bootstrap heading</h3>
                        <h4>h4. Bootstrap heading</h4>
                        <h5>h5. Bootstrap heading</h5>
                        <h6>h6. Bootstrap heading</h6>
						<pre>
							<code class="html">
&lt;h1&gt;h1. Bootstrap heading&lt;/h1&gt;
&lt;h2&gt;h2. Bootstrap heading&lt;/h2&gt;
&lt;h3&gt;h3. Bootstrap heading&lt;/h3&gt;
&lt;h4&gt;h4. Bootstrap heading&lt;/h4&gt;
&lt;h5&gt;h5. Bootstrap heading&lt;/h5&gt;
&lt;h6&gt;h6. Bootstrap heading&lt;/h6&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="headingSecondaryText">Heading + Secondary text</h3>
                        <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                        <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
                        <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                        <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                        <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                        <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
						<pre>
							<code class="html">
&lt;h1&gt;h1. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt;h2. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt;h3. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt;h4. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt;h5. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt;h6. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h6&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <!-- Lists -->
                
                        <h2 class="demo-title" id="lists">Lists</h2>
                        <h3 class="demo-title" id="unordered">Unordered</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                        <pre>
                        	<code class="html">
&lt;ul&gt;
	&lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
	&lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
	&lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
	&lt;li&gt;Facilisis in pretium nisl aliquet&lt;/li&gt;
	&lt;li&gt;Nulla volutpat aliquam velit
		&lt;ul&gt;
			&lt;li&gt;Phasellus iaculis neque&lt;/li&gt;
			&lt;li&gt;Purus sodales ultricies&lt;/li&gt;
			&lt;li&gt;Vestibulum laoreet porttitor sem&lt;/li&gt;
			&lt;li&gt;Ac tristique libero volutpat at&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
	&lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
	&lt;li&gt;Eget porttitor lorem&lt;/li&gt;
&lt;/ul&gt;                        	
                        	
                        	</code>
                        </pre>
                        <a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id="ordered">Ordered</h3>
                        <ol>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit</li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ol>
						<pre>
							<code class="html">
&lt;ol&gt;
	&lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
	&lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
	&lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
	&lt;li&gt;Facilisis in pretium nisl aliquet&lt;/li&gt;
	&lt;li&gt;Nulla volutpat aliquam velit&lt;/li&gt;
	&lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
	&lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
	&lt;li&gt;Eget porttitor lorem&lt;/li&gt;
&lt;/ol&gt;							
							</code>
						</pre>
						<a ng-click="scrollTo('top')">Top</a>
                        <h3 class="demo-title" id='unstyled'>Unstyled</h3>
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                        <pre>
                        	<code class="html">
&lt;ul class=&quot;list-unstyled&quot;&gt;
	&lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
	&lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
	&lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
	&lt;li&gt;Facilisis in pretium nisl aliquet&lt;/li&gt;
	&lt;li&gt;Nulla volutpat aliquam velit
		&lt;ul&gt;
			&lt;li&gt;Phasellus iaculis neque&lt;/li&gt;
			&lt;li&gt;Purus sodales ultricies&lt;/li&gt;
			&lt;li&gt;Vestibulum laoreet porttitor sem&lt;/li&gt;
			&lt;li&gt;Ac tristique libero volutpat at&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
	&lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
	&lt;li&gt;Eget porttitor lorem&lt;/li&gt;
&lt;/ul&gt;                        	
                        	</code>
                        </pre>
                        <a ng-click="scrollTo('top')">Top</a>
                    </div>
	
                </div>
            </div>
        </div>
        <!-- //Footer -->
        <footer class="fsm-footer">
        </footer>
    </div>
</div>
